@model LibraryAutomation.Models.BookVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel panel-heading">Kitap Ekleme Ekranı</div>


    <div class="panel panel-body">

      

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert-danger"><i class="glyphicon glyphicon-alert"></i> @ViewData["ErrorMessage"] </div>
        }

        @using (Html.BeginForm("Add", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

           
            
                <div class="form-group" >
                
                    <p>Kitap Adı</p>

                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

                    <span class="field-validation-error text-danger"
                          data-valmsg-for="IdentityNumber"
                          data-valmsg-replace="true">@Html.ValidationMessageFor(model => model.Name)</span>

                    </div>
                    <div class="form-group">
                        <p> Sayfası</p>
                        @Html.TextBoxFor(model => model.Page, new { @class = "form-control" })
                        <span class="field-validation-error text-danger"
                              data-valmsg-for="IdentityNumber"
                              data-valmsg-replace="true">@Html.ValidationMessageFor(model => model.Page)</span>


                    </div>
                        
                    <div class="form-group">
                        <p>Yazarı</p>
                        @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                        <span class="field-validation-error text-danger"
                              data-valmsg-for="IdentityNumber"
                              data-valmsg-replace="true">@Html.ValidationMessageFor(model => model.Author)</span>

                    </div>

                          <div class="form-group">
                              <p>ISBN</p>

                              @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
                              <span class="field-validation-error text-danger"
                                    data-valmsg-for="IdentityNumber"
                                    data-valmsg-replace="true">@Html.ValidationMessageFor(model => model.ISBN)</span>

                          </div>

                        <div class="form-group">
                            <p>Sayısı</p>

                            @Html.TextBoxFor(model => model.Count, new { @class = "form-control" })
                            <span class="field-validation-error text-danger"
                                  data-valmsg-for="Count"
                                  data-valmsg-replace="true">@Html.ValidationMessageFor(model => model.Count)</span>

                            </div>


                        <div class="form-group">
                            <p>Türü</p>
                           
                            @foreach(var item in Model.Tipler)
                            {
                                @*<input type="checkbox" name="ListBookType" value="@item.ID" id="bookType_@item.ID" /> <label>@item.TypeName</label>*@
                                <input type="checkbox" name="ListBookType" value="@item.ID" id="ListBookType" /> <label>@item.TypeName</label>
                            }

                       



                        </div>
                      

                          <div class="form-group">

                              <p>Resim Ekle</p>

                              <input type="file" name="file" id="file" style="width: 100%;" />

                          </div>


                          <div class="form-group">
                              <input type="submit" value="ekle" class="btn btn-success">
                          </div>
                  
        }
    
     </div>

</div>
