
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@model List<LibraryAutomation.Models.UserVM>
<div class="panel panel-default">
    <div class="panel panel-heading"></div>
    <div class="panel panel-body">
      

        <a href="/Role/Add" class="btn-success">Role ekle</a>

        <table class="table table-bordered">

            <tr>
                <td>Kullanıcılar</td>
             </tr>
            
            <tr>
                    <td>Tc</td>
                    <td>adı</td>
                    <td>soyadı</td>
                    <td>email</td>
                    <td>telefon</td>
                   
                    <td>doğum tarihi</td>
                    <td>işe giriş tarihi</td>
                    <td>işlemler</td>
            
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                    <td>@item.IdentityNumber</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                
                    <td>@item.Birthdate</td>
                    <td>@item.WorkStartDate</td>


                    <td>

                        <a href="@Url.Action("Delete","User",new { id= item.ID })" class="glyphicon glyphicon-remove">sil</a>
                        <a href="@Url.Action("Edit","User",new { id = item.ID })" class="glyphicon glyphicon-edit">güncelle</a>
                       
                    </td>
                </tr>
                }

            </table>

        <br />

        <a href="/User/Add" class="btn btn-success">Yeni Ekle</a>
    </div>

</div>

